langchain
langchain-core
langchain-community

openai
langchain-openai

groq
langchain-groq

google-generativeai
langchain-google-genai

mistralai
langchain-mistralai

python-dotenv

langchain_huggingface